$primary-color: #0052cc;

@import "../node_modules/spectre.css/src/spectre.scss";

#app {
  padding: 1rem;
}

pre code {
  background: #f8f9fa;
  color: inherit;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}

.panel-header {
  align-items: center;
  display: flex;

  .avatar {
    margin-right: 0.8rem;
  }

  .panel-title {
    font-size: 0.825rem;
    font-weight: bold;
  }
}

.panel-body {
  margin-top: 0.8rem;

  .CodeMirror,
  .CodeMirror-scroll {
    min-height: 200px;
  }
}

.panel-nav {
  .tab {
    padding: 0 0.8rem;
  }
}



.card-body {
  p {
    margin: 0;
  }
}

.card-image {
  img {
    width: 100%;
  }
}
